/*For background gradient color animation*/
body {
    background: linear-gradient(273deg, #fb7171, #d09df3, #f7ac6e, #ec85fd, #fb7171);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    -o-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 47%;
    }

    50% {
        background-position: 100% 54%;
    }

    100% {
        background-position: 0% 47%;
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 47%;
    }

    50% {
        background-position: 100% 54%;
    }

    100% {
        background-position: 0% 47%;
    }
}

@-o-keyframes AnimationName {
    0%;

{
    background-position: 0% 47%;
}

50% {
    background-position: 100% 54%;
}

100% {
    background-position: 0% 47%;
}

}

@keyframes AnimationName {
    0% {
        background-position: 0% 47%;
    }

    50% {
        background-position: 100% 54%;
    }

    100% {
        background-position: 0% 47%;
    }
}


/*Button Styles, and ripple effect*/
.button {
    position: relative;
    border-radius: 8px;
    background-color: #555555;
    border: none;
    font-size: 28px;
    color: white;
    padding: 10px;
    width: 120px;
    height: 120px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

    .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s;
    }

    .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

    .button.activate:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }







/*Record button, and dropdown*/
.btnRec {
    border-radius: 100%;
    background-color: indianred;
    border: none;
    font-size: 12px;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .dropdown-content a {
        color: lightgray;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            color: white;
        }
/*{background-color: #f1f1f1}*/

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btnRec {
    background-color: crimson;
}




.dropdownBpm {
    position: relative;
    display: inline-block;
}

.dropdownBpm-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .dropdownBpm-content a {
        color: lightgray;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdownBpm-content a:hover {
            color: white;
        }

.dropdownBpm:hover .dropdownBpm-content {
    display: block;
}

.dropdownBpm:hover .btnBpm {
    background-color: crimson;
}










.ajax__slider_h_rail {
    position: relative;
    height: 10px;
}

.ajax__slider_h_handle {
    position: absolute;
    height: 1px;
    width: 1px;
    border-radius: 100%;
    color: black;
}









/*Select (dropdown menu in sideNav)*/
.styled-select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 180px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #000;
    color: white;
    transition: 0.5s;
    font-family: Rockwell;
}

    .styled-select:hover {
        width: 230px;
    }






/*Side Nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 120px;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #CCCCCC;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: white;
            font-size: 30px;
        }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}



/*Slider toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4px;
        background-color: gray;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }



/*Custom audio tag*/
audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background-color: red;
    width: 800px;
}

    audio:hover, audio:focus, audio:active {
        -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
        -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
        box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        transform: scale(1.05);
    }


    canvas {
    padding-left: 0px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
